* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  color: white;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.contenido {
  position: relative;
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  color: white;
}

.contenido h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.contenido p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.contenido button {
  width: 200px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #e50914;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.contenido button:hover {
  transform: scale(1.05);
}
.card {
  width: 80%;
  max-width: 500px;

  margin: 80px auto;   /* 👈 CENTRADO */
  padding: 40px 30px;

  text-align: center;  /* 👈 CENTRA TEXTO */

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;

  color: white;
}
audio {
  display: none;
}