PORT=5000
MONGODB_URI=mongodb://manuelzarate1988:qHRf395Cn6QvNQYj@ac-frhbj3t-shard-00-00.mqtvixy.mongodb.net:27017,ac-frhbj3t-shard-00-01.mqtvixy.mongodb.net:27017,ac-frhbj3t-shard-00-02.mqtvixy.mongodb.net:27017/?ssl=true&replicaSet=atlas-alsqyf-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=cambia_este_secreto_por_uno_muy_seguro
